@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #27272e;
    border-radius: 1rem;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #131314;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3b3b46;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: #131314;
    border-radius: 4px;
  }
  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: #131314;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-display: optional;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  height: 100%;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: auto 1fr;
  grid-auto-rows: max-content;
  grid-template-areas:
    "frame"
    "mgr";
}

img {
  image-rendering: -webkit-optimize-contrast !important;
}

.btn {
  @apply text-base font-normal;
}

.input {
  @apply px-4 py-2 m-0;
  @apply rounded;
  @apply bg-white;
  @apply border-gray-500 focus:border-gray-500 focus:outline-none;
}

.label {
  @apply p-1;
}
.label .label-text {
  @apply text-gray-400;
}

.web3modal-modal-lightbox {
  z-index: 9999 !important;
}
